header{
    height: 100px;
    background-color: rgb(58, 36, 153);
    background-image: url(../img/img/pattern.png);
    background-size: 400px;

}
.img-logo{
    width: 200px;
    
}
.subtittle{
    font-size: 18px;
    color: gray

}

.blue-letter{
    color: blue;
}
.yellow-bar{
    background-color: yellow;
}
.tittle-table{
    padding: 10px 10px;
    background-color: rgb(103, 103, 226);
  
}
.white-letters{
    color: white;
}
.img-1{
    background-image: url(../img/img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: 25 px 35px;
    
}
.img-2{
    background-image: url(../img/img/graph.jpg);
    background-repeat: no-repeat;
}