header{
    height: 100px;
    background-color: rgb(58, 36, 153);
    background-image: url(../img/img/pattern.png);
    background-size: 400px;

}
.img-logo{
    width: 200px;
    
}
.subtittle{
    font-size: 18px;
    color: gray

}

.blue-letter{
    color: blue;
}
.yellow-bar{
    background-color: yellow;
}